<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>words</key>
	<array>
		<dict>
			<key>word</key>
			<string>abandon</string>
			<key>pronunciation</key>
			<string>ə&apos;bændən</string>
			<key>mean</key>
			<string>sự phóng túng, sự tự do, sự buông thả</string>
			<key>category</key>
			<string>n</string>
		</dict>
		<dict>
			<key>word</key>
			<string>abandon</string>
			<key>pronunciation</key>
			<string>ə&apos;bændən</string>
			<key>mean</key>
			<string>từ bỏ, bỏ rơi, ruồng bỏ</string>
			<key>category</key>
			<string>v</string>
		</dict>
		<dict>
			<key>word</key>
			<string>abandoned</string>
			<key>pronunciation</key>
			<string>ə&apos;bændənd</string>
			<key>mean</key>
			<string>bị bỏ rơi, bị ruồng bỏ</string>
			<key>category</key>
			<string>adj</string>
		</dict>
		<dict>
			<key>word</key>
			<string>ability</string>
			<key>pronunciation</key>
			<string>ə&apos;biliti</string>
			<key>mean</key>
			<string>khả năng, năng lực</string>
			<key>category</key>
			<string>n</string>
		</dict>
		<dict>
			<key>word</key>
			<string>able</string>
			<key>pronunciation</key>
			<string>&apos;eibl</string>
			<key>mean</key>
			<string>có năng lực, có tài</string>
			<key>category</key>
			<string>adj</string>
		</dict>
		<dict>
			<key>word</key>
			<string>unable</string>
			<key>pronunciation</key>
			<string>ʌn&apos;eibl</string>
			<key>mean</key>
			<string>không thể, không có năng lực, không có tài</string>
			<key>category</key>
			<string>adj</string>
		</dict>
		<dict>
			<key>word</key>
			<string>about</string>
			<key>pronunciation</key>
			<string>ə&apos;baut</string>
			<key>mean</key>
			<string>khoảng chừng, xấp xỉ</string>
			<key>category</key>
			<string>adv</string>
		</dict>
		<dict>
			<key>word</key>
			<string>about</string>
			<key>pronunciation</key>
			<string>əˈbaʊt</string>
			<key>mean</key>
			<string>về, đây đó</string>
			<key>category</key>
			<string>prep</string>
		</dict>
		<dict>
			<key>word</key>
			<string>above</string>
			<key>pronunciation</key>
			<string>ə&apos;bʌv</string>
			<key>mean</key>
			<string>rên đầu, ở trên, phía trên</string>
			<key>category</key>
			<string>adv</string>
		</dict>
		<dict>
			<key>word</key>
			<string>above</string>
			<key>pronunciation</key>
			<string>ə&apos;bʌv</string>
			<key>mean</key>
			<string>hơn, trên</string>
			<key>category</key>
			<string>prep</string>
		</dict>
		<dict>
			<key>word</key>
			<string>abroad</string>
			<key>pronunciation</key>
			<string>ə&apos;brɔ:d</string>
			<key>mean</key>
			<string>ở nước ngoài, hải ngoại</string>
			<key>category</key>
			<string>adv</string>
		</dict>
		<dict>
			<key>word</key>
			<string>absence</string>
			<key>pronunciation</key>
			<string>ˈæb.səns</string>
			<key>mean</key>
			<string>sự vắng mặt</string>
			<key>category</key>
			<string>n</string>
		</dict>
		<dict>
			<key>word</key>
			<string>absent</string>
			<key>pronunciation</key>
			<string>&apos;æbsənt</string>
			<key>mean</key>
			<string>vắng mặt, nghỉ</string>
			<key>category</key>
			<string>adj</string>
		</dict>
		<dict>
			<key>word</key>
			<string>absolute</string>
			<key>pronunciation</key>
			<string>&apos;æbsəlu:t</string>
			<key>mean</key>
			<string>adj. tuyệt đối, hoàn toàn</string>
			<key>category</key>
			<string>adj</string>
		</dict>
		<dict>
			<key>word</key>
			<string>absolutely</string>
			<key>pronunciation</key>
			<string>&apos;æbsəlu:tli</string>
			<key>mean</key>
			<string>tuyệt đối, hoàn toàn, chắc chắn</string>
			<key>category</key>
			<string>adv</string>
		</dict>
		<dict>
			<key>word</key>
			<string>absorb</string>
			<key>pronunciation</key>
			<string>əbˈzɔːrb</string>
			<key>mean</key>
			<string>hút, hấp thu, lôi cuốn</string>
			<key>category</key>
			<string>v</string>
		</dict>
		<dict>
			<key>word</key>
			<string>abuse</string>
			<key>pronunciation</key>
			<string>əˈbjuːz</string>
			<key>mean</key>
			<string>sự lạm dụng, sự lăng mạ</string>
			<key>category</key>
			<string>n</string>
		</dict>
		<dict>
			<key>word</key>
			<string>abuse</string>
			<key>pronunciation</key>
			<string>əˈbjuːz</string>
			<key>mean</key>
			<string>lạm dụng, lăng mạ, sỉ nhục</string>
			<key>category</key>
			<string>v</string>
		</dict>
		<dict>
			<key>word</key>
			<string>academic</string>
			<key>pronunciation</key>
			<string>ˌæk.əˈdem.ɪk</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>hội viên, học viên</string>
		</dict>
		<dict>
			<key>word</key>
			<string>academic</string>
			<key>pronunciation</key>
			<string>ˌæk.əˈdem.ɪk</string>
			<key>category</key>
			<string>adj</string>
			<key>mean</key>
			<string>thuộc học viện</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accent</string>
			<key>pronunciation</key>
			<string>ˈæk.sənt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>trọng âm</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accent</string>
			<key>pronunciation</key>
			<string>ˈæk.sənt</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>đánh dấu trọng âm</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accept</string>
			<key>pronunciation</key>
			<string>əkˈsept</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>chấp nhận, chấp thuận</string>
		</dict>
		<dict>
			<key>word</key>
			<string>acceptable</string>
			<key>pronunciation</key>
			<string>əkˈsept.ə.bəl</string>
			<key>category</key>
			<string>adj</string>
			<key>mean</key>
			<string>có thể chấp nhận</string>
		</dict>
		<dict>
			<key>word</key>
			<string>unacceptable</string>
			<key>pronunciation</key>
			<string>ˌʌn.əkˈsep.t̬ə.bəl</string>
			<key>category</key>
			<string>adj</string>
			<key>mean</key>
			<string>không thể chấp nhận</string>
		</dict>
		<dict>
			<key>word</key>
			<string>access</string>
			<key>pronunciation</key>
			<string>ˈæk.ses</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>lối vào, cửa, đường vào</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accident</string>
			<key>pronunciation</key>
			<string>ˈæk.sə.dənt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>tai nạn, rủi ro</string>
		</dict>
		<dict>
			<key>word</key>
			<string>access</string>
			<key>pronunciation</key>
			<string>ˈæk.ses</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>truy cập</string>
		</dict>
		<dict>
			<key>word</key>
			<string>by accident</string>
			<key>pronunciation</key>
			<string>baɪ ˈæk.sə.dənt</string>
			<key>category</key>
			<string></string>
			<key>mean</key>
			<string>ngẫu nhiên, tình cơ</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accidental</string>
			<key>pronunciation</key>
			<string>ˌæk.səˈden.t̬əl</string>
			<key>category</key>
			<string>adv</string>
			<key>mean</key>
			<string>tình cờ, ngẫu nhiên</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accommodation</string>
			<key>pronunciation</key>
			<string>əˌkɑː.məˈdeɪ.ʃən</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>chỗ ăn ở, chỗ trọ</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accompany</string>
			<key>pronunciation</key>
			<string>əˈkʌm.pə.ni</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>đi theo, đi cùng, kèm theo</string>
		</dict>
		<dict>
			<key>word</key>
			<string>according</string>
			<key>pronunciation</key>
			<string>əˈkɔːrd</string>
			<key>category</key>
			<string>prep</string>
			<key>mean</key>
			<string>theo, y theo</string>
		</dict>
		<dict>
			<key>word</key>
			<string>account</string>
			<key>pronunciation</key>
			<string>əˈkaʊnt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>tài khoản, bản kê khai, kế toán</string>
		</dict>
		<dict>
			<key>word</key>
			<string>account</string>
			<key>pronunciation</key>
			<string>əˈkaʊnt</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>tính toán, giải thích</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accountant</string>
			<key>pronunciation</key>
			<string>əˈkaʊn.t̬ənt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>kế toán viên</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accurate</string>
			<key>pronunciation</key>
			<string>ˈæk.jɚ.ət</string>
			<key>category</key>
			<string>adj</string>
			<key>mean</key>
			<string>đúng đắn, chính xác, xác đáng</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accurately</string>
			<key>pronunciation</key>
			<string>ˈækjʊrətli</string>
			<key>category</key>
			<string>adv</string>
			<key>mean</key>
			<string>đúng đắn, chính xác</string>
		</dict>
		<dict>
			<key>word</key>
			<string>accuse</string>
			<key>pronunciation</key>
			<string>əˈkjuːz</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>tố cáo, buộc tội</string>
		</dict>
		<dict>
			<key>word</key>
			<string>achieve</string>
			<key>pronunciation</key>
			<string>əˈtʃiːv</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>đạt được, dành được</string>
		</dict>
		<dict>
			<key>word</key>
			<string>achievement</string>
			<key>pronunciation</key>
			<string>əˈtʃiːv.mənt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>thành tích, thành tựu</string>
		</dict>
		<dict>
			<key>word</key>
			<string>acid</string>
			<key>pronunciation</key>
			<string>ˈæs.ɪd</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>axit</string>
		</dict>
		<dict>
			<key>word</key>
			<string>acknowledge</string>
			<key>pronunciation</key>
			<string>əkˈnɑː.lɪdʒ</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>công nhận, thừa nhận</string>
		</dict>
		<dict>
			<key>word</key>
			<string>acquire</string>
			<key>pronunciation</key>
			<string>əˈkwaɪɚ</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>dành được, đạt được</string>
		</dict>
		<dict>
			<key>word</key>
			<string>across</string>
			<key>pronunciation</key>
			<string>əˈkrɑːs</string>
			<key>category</key>
			<string>adv</string>
			<key>mean</key>
			<string>qua, ngang qua</string>
		</dict>
		<dict>
			<key>word</key>
			<string>across</string>
			<key>pronunciation</key>
			<string>əˈkrɑːs</string>
			<key>category</key>
			<string>prep</string>
			<key>mean</key>
			<string>qua, ngang qua</string>
		</dict>
		<dict>
			<key>word</key>
			<string>act</string>
			<key>pronunciation</key>
			<string>ækt</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>hành động, hành vi, cử chỉ</string>
		</dict>
		<dict>
			<key>word</key>
			<string>act</string>
			<key>pronunciation</key>
			<string>ækt</string>
			<key>category</key>
			<string>v</string>
			<key>mean</key>
			<string>hành động, đóng vai, đóng kịch</string>
		</dict>
		<dict>
			<key>word</key>
			<string>action</string>
			<key>pronunciation</key>
			<string>ˈæk.ʃən</string>
			<key>category</key>
			<string>n</string>
			<key>mean</key>
			<string>hành động, hành vi, tác động</string>
		</dict>
	</array>
</dict>
</plist>
